{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_save|default('Save') }}</button>

    {% if employee_dossier.id %}
        <a type="button" class="btn btn-danger" href="{{ path('employee_dossier_delete', {'id': employee_dossier.id}) }}">{{ button_delete|default('Delete') }}</a>
    {% endif %}
{{ form_end(form) }}
