{% extends 'base.html.twig' %}

{% block title %}Edit Dossier{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Are you sure you want to delete the "{{ employee_dossier.fullName }}" dossier?</h5>

            <form method="post" action="{{ path('employee_dossier_delete', {'id': employee_dossier.id}) }}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee_dossier.id) }}">
                <button class="btn btn-danger">yes</button>
                or
                <a class="btn btn-primary" href="{{ path('employee_dossier_edit', {'id': employee_dossier.id}) }}">
                    back to editing
                </a>
            </form>
        </div>
    </div>
{% endblock %}
