{% extends 'base.html.twig' %}

{% block title %}Edit Dossier{% endblock %}

{% block body %}
    <h1>Editing dossier of "{{ employee_dossier.fullName }}"</h1>

    {{ include('employee_dossier/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
