{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <h1>List</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Number</th>
                <th scope="col">Employee</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for employee_dossier in employee_dossiers %}
            <tr>
                <th scope="row">{{ employee_dossier.id }}</th>
                <td>{{ employee_dossier.number }}</td>
                <td>{{ employee_dossier.fullName }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{{ path('employee_dossier_edit', {'id': employee_dossier.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    <h2>No records found</h2>
                    <a class="btn btn-primary btn-lg" href="{{ path('employee_dossier_create') }}" role="button">Add first</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
