{% extends 'base.html.twig' %}

{% block title %}homepage{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Dossier Management System</h1>
        <hr class="my-4">

        <a class="btn btn-primary btn-lg" href="{{ path('employee_dossier_index') }}">Manage</a>
    </div>
{% endblock %}